{{ define "folders.html" }}
{{ template "frame-pre-content.html" . }}
    <div class="row">
      <div class="col-sm-3 col-md-3">

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" id="filter" name="filter" value="" placeholder="filter" style="width:100%">
        </div>

        <div class="list-group" id="folders">
          {{range .Folders }}
          <a class="list-group-item btn btn-default folder" style="text-align:left" href="/folder/{{.Name}}" role="button">{{if .Unread}}<b>{{end}}{{.Name}}{{if .Unread}}</b>{{end}}</a>
          {{end}}
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2>Overview</h2>

        {{if .Error}}
        <p>{{.Error}}</p>
        {{else}}
        <p>Please select a folder to view messages.</p>
        {{end}}
      </div>
    </div>
{{ template "frame-post-content.html" . }}
{{ end }}
