<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Folder }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery is required by bootstrap -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css">
     html {
       background-color:#f9f9f9;
     }
     .steve-footer {
       padding: 40px 0;
       color: #999;
       background-color: #f9f9f9;
       border-top: 2px solid #e9e9e9;
     }
     .steve-footer .nav-header {
       color: black;
       font-weight: bold;
     }
    </style>
    <script type="text/javascript">
     $( document ).ready(function() { $('input:text:visible:first').focus(); })
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Webmail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" id="filter" name="filter" value="" placeholder="filter" style="width:100%">
        </div>

        <div class="list-group" id="folders">
          {{range .Folders }}
          <a class="list-group-item btn btn-default folder" style="text-align:left" href="/folder/{{.}}" role="button">{{.}}</a>
          {{end}}
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        {{if .Error}}
        <p>{{.Error}}</p>
        {{else}}
        <table class="table table-striped table-hover table-bordered table-condensed">
          <tr><th>Date</th><th>From</th><th>Subject</th></tr>
          {{range .Messages }}

          <tr data-href="/message/{{.ID}}/{{$.Folder}}" {{ if .New }}style="font-weight: bold;" {{end}}><td>{{ .Date }}</td><td>{{ .From }}</td><td>{{ .Subject }}</td></tr>
          {{end}}
        </table>
        {{end}}
      </div>
    </div>

    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <footer id="footer" class="footer steve-footer" role="navigation">
      <div class="container">
        <div class="col-md-6">
          <ul class="nav">
            <li class="nav-header">Source Code</li>
            <li><a href="https://github.com/skx/webmail">Available on github</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="nav ">
            <li class="nav-header">Copyright</li>
            <li><a href="https://steve.kemp.fi/">Steve Kemp</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
     $(function(){
       $('.table tr[data-href]').each(function(){
         $(this).css('cursor','pointer').hover(
           function(){
             $(this).addClass('active');
           },
           function(){
             $(this).removeClass('active');
           }).on('mouseup', function (e) {
             switch (e.which)
             {
               // Left Click.
               case 1:
               document.location = $(this).attr('data-href');
               break;

               // Middle click.
               case 2:
               var newWindow = $(this).attr('data-href');
               window.open(newWindow, '_blank');
               e.preventDefault();
               break;
             }
           })
       });


     });
    </script>
    <script type="text/javascript">
     var input = document.getElementById('filter');
     input.onkeyup = function () {
       var filter = input.value.toUpperCase();
       var lis = document.getElementsByClassName('folder');
       for (var i = 0; i < lis.length; i++) {
         var name = lis[i].innerHTML;
         if (name.toUpperCase().indexOf(filter) >= 0)
           lis[i].style.display = 'list-item';
         else
           lis[i].style.display = 'none';
       }
     }
    </script>
  </body>
</html>
